services:
  grafana:
    container_name: grafana
    image: grafana/grafana:12.0.0
    profiles:
      - disabled
    env_file:
      - ../../.env
    environment:
      - TZ=${TZ}
    volumes:
      - grafana_data:/var/lib/grafana
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.${DOMAIN_DEDALO}`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=cloudflare"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.docker.network=frontend"
    networks:
      - frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service={{.Name}}"
    restart: unless-stopped

volumes:
  grafana_data:
    driver: local
networks:
  frontend:
    external: true