services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    env_file:
      - ./secrets.env
    env_file:
      - ../.env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - APP_URL=https://speedtest.${DOMAIN_ICARUS}
      - ASSET_URL=https://speedtest.${DOMAIN_ICARUS}
      - DB_CONNECTION=sqlite
    volumes:
      - ./data:/config
    networks:
      - frontend
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost/api/healthcheck"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service={{.Name}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.speedtest.rule=Host(`speedtest.${DOMAIN_ICARUS}`)"
      - "traefik.http.routers.speedtest.entrypoints=websecure"
      - "traefik.http.routers.speedtest.tls=true"
      - "traefik.http.services.speedtest.loadbalancer.server.port=80"
    restart: unless-stopped

networks:
  frontend:
    external: true
